.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55px;
    padding: 25px;
    transition: 1.25s;
  }
  .form {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ECF0F3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #D1D9E6, inset -2px -2px 4px #F9F9F9;
  }
  .form:focus {
    box-shadow: inset 4px 4px 4px #D1D9E6, inset -4px -4px 4px #F9F9F9;
  }
  button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #216e3b;
    color: #F9F9F9;
    box-shadow: 8px 8px 16px #D1D9E6, -8px -8px 16px #F9F9F9;
    border: none;
    outline: none;
    cursor: pointer;
  }

input {
    margin: 20px;
    padding: 10px;
}

p {
  color: red;
  font-style: italic;
  font-size: 16px;
}